
  
  h2 {
	font-family: Proxima Nova, sans-serif;
	color: #fff !important;
	background-color: #0051ba;
	text-align: left;
	font-size: 36px;
	padding: 14px;
  }

  h3 {
	font-family: Proxima Nova, sans-serif;
	color: #000 !important;
	background-color: #ffcc00;
	text-align: left;
	font-size: 36px;
	padding: 14px;
  }

  div.question {
	display: flex;
	flex-direction: column;
	font-family: Proxima Nova, sans-serif;
	font-size: 18px;
	font-weight: 600;
	padding: 4px;
	margin-left: 14px;
	margin-right: 30px;
  }
  .answers {
	display: flex;
	flex-direction: column;
	font-family: Proxima Nova, sans-serif;
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 20px;
	margin-left: 30px;
	margin-right: 30px;
	padding: 5px;
  }
  
  .radio {
	margin: 5px;
  }
  
  #submit {
	font-family: Proxima Nova, sans-serif;
	font-size: 20px;
	background-color: #0058ab;
	color: #fff;
	border: 5px;
	border-radius: 13px;
	padding: 20px;
	cursor: pointer;
	margin-bottom: 20px;
	margin-left: 14px;
	padding: 14px;
	text-align: center;
  }
  #submit:hover {
	font-family: Proxima Nova, sans-serif;
	background-color: #ffdb0c;
	color: #000;
  }
  
  p {
	font-family: Proxima Nova, sans-serif;
	padding-top: 20px;
	text-indent: 30px;
	text-align: center;
	color: black;
	margin-left: 30px;
  }
  
  #results {
	display: flex;
	flex-direction: column;
	font-family: Proxima Nova, sans-serif;
	margin-left: 30px;
	font-size: 18px;
